target/
dist/
node_modules/
.pnpm-store/
.yarn/
.parcel-cache/
.turbo/
.DS_Store
*.log
*.lock
/.idea/
/.vscode/
apps/desktop/src-tauri/target/
apps/desktop/src-tauri/**/target/
apps/desktop/**/dist/
third_party/bin/**/realesrgan-ncnn-vulkan*
third_party/bin/**/waifu2x-ncnn-vulkan*
third_party/bin/**/realcugan-ncnn-vulkan*
third_party/bin/**/ffmpeg*
third_party/bin/**/ffprobe*
temp/


